Dist/*
Dist_K2genmity/*
Azule
test.sh
semver2.sh
Tweaks/Flowercord/.theos
Tweaks/Flowercord/.vscode
node_modules
!Ipas/.gitkeep
Ipas/*
Fonts/woff2/tmp
Fonts/woff2/Cute
Fonts/ttf/tmp
Fonts/ttf/Cute
Payload
Hate
Saved